* {
    box-sizing: border-box;
}

body {
    background-color: #2979a8;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

h3 {
    color: #fff;
    margin: 10px 0 20px;
    text-align: center;
}

.container {
    width: 500px;
}

#textarea {
    display: block;
    width: 100%;
    height: 100px;
    font-family: inherit;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 16px;
}

.tag {
    background-color: #f0932b;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 14px;
    display: inline-block;
}

.tag.highlight {
    background-color: #273c75;
}